# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [ ]:
s=s.split()
print (s);

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

In [ ]:
import numpy as np
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arange(20,36,2)
print("Array of all the even integers from 20 to 35")
print(array)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
x =  np.arange(0, 9).reshape(3,3)
print(x)

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
 import pandas as pd

data = {
  "calories": [420, 380,],
  "duration": [50, 40]
}

df = pd.DataFrame(data, index = ["day1", "day2"])

print(df)

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380,],
  "duration": [50, 40]
}

df = pd.DataFrame(data, index = ["day1", "day2"])

print(df)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
// Java Program to Generate Desired Calendar
// Without calendar.get() function or
// Inputting the Year and the Month

// Importing required classes
import java.io.*;
import java.util.Scanner;

// Main class
public class GFG {

	// Main driver method
	public static void main(String a[])
	{

		// Reading input by creating object of Scanner class
		Scanner sc = new Scanner(System.in);

		// Display message only
		System.out.print("Enter the year : ");

		// Reading integer input value
		int yy = sc.nextInt();

		// Display message only
		System.out.print("Enter month : ");

		// Reading integer input value
		int mm = sc.nextInt();

		int d = 1;
		int m = 1;
		int y = 1;
		int dy = 1;

		// Storing data and months as input
		String day[] = { "SUN", "MON", "TUE", "WED",
						"THU", "FRI", "SAT" };
		String month[]
			= { "JANUARY", "FEBRUARY" };

		// Till condition holds true
		while (true) {

			if (d == 1 && m == mm && y == yy) {
				break;
			}

			if (y % 4 == 0 && y % 100 != 0
				|| y % 100 == 0) {
				ar[1] = 29;
			}

			else {
				ar[1] = 28;
			}
			dy++;
			d++;

			if (d > ar[m - 1]) {
				m++;
				d = 1;
			}

			if (m > 12) {
				m = 1;
				y++;
			}

			if (dy == 7) {
				dy = 0;
			}
		}

		int c = dy;

		if (y % 4 == 0 && y % 100 != 0 || y % 400 == 0) {
			ar[1] = 29;
		}
		else {
			ar[1] = 28;
		}

		// Print the desired month of input year
		System.out.println("MONTH:" + month[mm - 1]);

		for (int k = 0; k < 7; k++) {
			System.out.print(" " + day[k]);
		}

		System.out.println();

		for (int j = 1; j <= (ar[mm - 1] + dy); j++) {
			if (j > 6) {
				dy = dy % 6;
			}
		}

		int spaces = dy;
		if (spaces < 0)
			spaces = 6;

		// Printing the calendar
		for (int i = 0; i < spaces; i++)
			System.out.print("	 ");
		for (int i = 1; i <= ar[mm - 1]; i++) {
			System.out.printf(" %4d ", i);

			if (((i + spaces) % 7 == 0)
				|| (i == ar[mm - 1]))
				System.out.println();
		}
	}
}

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd
	
# List1
lst = [['aaa', 'aaa', 22]
	['bbb', 'bbb', 25]
  ['ccc', 'ccc', 24]
	
df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'],
										dtype = float)
print(df)